/* General Styles */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-color: #f0f2f5;
}

.centered-container {
  max-width: 1200px;
  width: 90%;
  margin: 20px auto;
  padding: 20px;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

/* Header Styles */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.header img {
  max-height: 50px;
}

.header nav {
  display: flex;
}

.header a {
  margin-left: 20px;
  color: #1890ff;
  text-decoration: none;
}

/* HeroBanner Styles */
.hero-banner {
  text-align: center;
  margin-bottom: 40px;
}

.hero-banner h1 {
  font-size: 36px;
  color: #1890ff;
  margin-bottom: 10px;
}

.hero-banner p {
  font-size: 18px;
}

/* CompressSection Styles */
.compress-section {
  margin-bottom: 40px;
}

.dropzone {
  border: 2px dashed #1890ff;
  padding: 30px;
  border-radius: 8px;
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.dropzone p {
  margin-top: 10px;
}

.dropzone .anticon {
  font-size: 48px;
  color: #1890ff;
  margin-bottom: 10px;
}

.selected-files {
  margin-top: 20px;
  text-align: left;
  overflow: auto;
}

.selected-files h4 {
  margin-bottom: 5px;
}

.file-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.file-info {
  display: flex;
  align-items: center;
}

.remove-button {
  background: none;
  border: none;
  color: #1890ff;
  cursor: pointer;
  margin-left: 8px;
}

.remove-button:hover {
  text-decoration: underline;
}

.savings-container {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px; /* Add gap between the savings cards */
}


.savings-row {
  display: flex;
  align-items: center;
}

.savings-card {
  background-color: #e6f7ff;
  border: none;
  padding: 16px;
  width: auto;
  margin-bottom: 20px;
}

.savings-card .ant-typography {
  display: flex;
  justify-content: space-between;
}

/* FAQSection Styles */
.faq-section {
  margin-bottom: 40px;
}

.ant-collapse {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.ant-collapse-header {
  font-size: 18px;
  font-weight: bold;
  color: #1890ff;
}

.ant-collapse-content-box {
  padding: 20px;
}

/* AdsSection Styles */
.ads-section {
  margin-bottom: 40px;
}

/* NavigationPages Styles */
.navigation-pages {
  margin-bottom: 40px;
}

/* BlogSection Styles */
.blog-section {
  margin-bottom: 40px;
}

@media screen and (max-width: 576px) {
  .file-name {
    max-width: 80px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.custom-collapse {
  max-width: 500px; /* Adjust this value as needed */
  margin: 0 auto;
}

/* Media query for mobile devices */
@media screen and (max-width: 576px) {
  .custom-collapse {
    max-width: 100%;
  }
}
