/* General Styles */
.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f2f5;
}

.centered-container {
  text-align: center;
  padding: 20px;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.dropzone {
  border: 2px dashed #1890ff;
  padding: 30px;
  border-radius: 8px;
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.dropzone p {
  margin-top: 10px;
}

/* Center the CloudUploadOutlined icon */
.dropzone .anticon {
  margin: 0 auto;
  display: block;
}

/* Adjust the button position */
.ant-btn {
  margin-top: 20px;
}

.selected-files {
  margin-top: 20px;
  text-align: left;
  overflow: auto; /* Add a scroll when content exceeds the height */
}

.selected-files h4 {
  margin-bottom: 5px;
}

.file-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.file-info {
  display: flex;
  align-items: center;
}

.remove-button {
  background: none;
  border: none;
  color: #1890ff;
  cursor: pointer;
  margin-left: 8px;
}

.remove-button:hover {
  text-decoration: underline;
}

.savings-container {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.savings-card {
  background-color: #e6f7ff;
  border: none;
  padding: 16px;
  /* Set width to auto so that it takes only the required space */
  width: auto;
  margin-bottom: 20px;
}

.savings-card .ant-typography {
  display: flex;
  justify-content: space-between;
}

/* Improved Mobile Responsiveness */
@media screen and (max-width: 768px) {
  .dropzone {
    padding: 15px;
  }
  .dropzone .anticon {
    font-size: 48px;
  }
  .ant-btn {
    margin-top: 15px;
  }
  .selected-files {
    /* Adjust height based on available screen height */
    max-height: calc(100vh - 350px);
    overflow-y: auto;
  }
  .savings-container {
    flex-direction: column;
    align-items: center;
  }
  .savings-card {
    width: 100%;
    max-width: 250px;
    margin-bottom: 10px;
  }
}

/* New styles for mobile devices */
@media screen and (max-width: 576px) {
  .dropzone {
    padding: 15px;
  }
  .dropzone .anticon {
    font-size: 48px;
  }
  .ant-btn {
    margin-top: 15px;
  }
  .selected-files {
    /* Reduce margin-top and set max-height to show fewer rows initially */
    margin-top: 10px;
    max-height: calc(100vh - 280px);
  }
  .file-item {
    flex-direction: column;
    align-items: flex-start;
  }
  .file-info {
    margin-bottom: 8px;
  }
  .remove-button {
    margin: 4px 0;
  }
}
